<div class="container-fluid">

  <div class="row titulo">

    <div class="col-12">
      <h1>Caja Registradora</h1>
    </div>

  </div>

  <div class="row">

    <div class="col-12 col-lg-7">
      <div class="productos">
        <app-productos titulo="Comida" [productos]="arrComida" (emitirProducto)="manejarEmitirProducto($event)">
        </app-productos>
        <app-productos titulo="Bebida" [productos]="arrBebida" (emitirProducto)="manejarEmitirProducto($event)">
        </app-productos>
      </div>
    </div>

    <div class="col-12 col-lg-5">
      <div class="pedido">
        <app-pedido [arrProductosSeleccionadosPedido]="arrProductosSeleccionados"></app-pedido>
      </div>
    </div>

  </div>

</div>