.productos {
    margin-top: 5%;
}

.producto {
    border: 3px solid black;
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    background-color: #ccc;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);  
    font-size: 1.2em;
    margin: 10% 0%;
    padding: 10% 0%;
}